 .tile {
    width: 50px;
    height: 50px;
    display: grid;
    place-content: center;
    display: grid;
}   

.tile .piece-image:hover {
    cursor: grab;
}

.tile .piece-image:active {
    cursor: grabbing;
}

 .dark-tile {
    background-color: #81A2B6;
    color: black;
}

 .light-tile {
    background-color: #D9E4E8;
    color: black;
}

.piece-image{
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-postition: center;
    background-size: 40px;
}

